html {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
  font-size: 15px;
  max-width: 250px;
  min-width: 250px;
  padding: 8px;
}

p {
  border-radius: 2px;
  border: solid 1px #ccc;
  color: #00619a;
  font-family: Courier, monospace;
  padding: 5px;
  width: 230px;
}

div {
  padding-bottom: 5px;
}
