html,
body {
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

body {
  min-width: 250px;
  padding: 20px;
}

input,
input:disabled {
  font-family: Courier, monospace;
  background-color: white;
  border: none;
  color: #00619a;
  font-size: 16px;
}
